<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Styling Elements -->
    <style>
        h {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }

        script {
            text-align: center;
        }

        button {
            margin-top: 20px;
            line-height: 60px;
            font-weight: bold;
            padding: 0 40px;
            background: red;
            border: none;
        }

        body {
            text-align: center;
        }
    </style>

    <title>Voice Assistant</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-md">
                <a class="navbar-brand" target="_blank">Budgtrack</a>
            </div>
        </nav>
    </nav>

    <h1>Voice Assistant</h1>
    <script src="../static/assets/js/voiceassitant.js"></script>
</body>

</html>